/* Import Google Fonts */

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    font-family: "Roboto", sans-serif;
    background-color: #F5F5F5;
    color: #212121 ;
    min-height: 100dvh;
}
h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

header {
    width: 100%;
    background: rgb(33, 33, 33);
}

#course-title {
    display: block;
    margin: 1rem 0;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    color: whitesmoke;
}

nav {
    color: whitesmoke;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
}

nav a {
    display: block;
    color: whitesmoke;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
}

nav a:hover {
    border-bottom: 2px  solid rgb(250, 250, 0);
    transform: scale(1.1);
}

/* Hamburger button */
.hamburger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 2px;
}

/* Mobile nav menu (drawer) */
.nav-menu {
  list-style: none;
  position: fixed;
  top: 0;
  right: -250px; /* Hidden off-screen by default */
  height: 100%;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  background-color: gray;
  /* background: #003366; */
  padding: 2rem 1rem;
  gap: 1rem;
  transition: right 0.3s ease-in-out;
  margin: 0;
  color: white;
}

.nav-menu li a {
  text-decoration: none;
  font-weight: 500;
}

/* Active menu (when toggled) */
.nav-menu.active {
  right: 0;
}

.close-nav {
  cursor: pointer;
  font-size: 1.5rem;
  color: red;
}

main {
    display: grid;
    max-width: 1000px;
    padding: 1rem;
}

.card {
    display: block;
    margin: 1rem 0.3rem;
    border: 1px solid #212121;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: #212121;
}

.card img {
    width: 100%;
    height: auto;
}

.card h2 {
    padding: 0.3rem;
    background-color: rgba(0, 0, 0, 0.2);
    color: #003366;
}

.card p {
    margin: 0.1rem 0;
    padding: 0.1rem;
    text-align: justify;
}

/* Footer Styles */
footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    font-size: 1rem;
    padding: 1rem;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

footer p {
    margin: 5px 0;
}

footer p#last {
    font-style: italic;
}

/* Styling the copyright */
footer p#currentyear {
    font-weight: bold;
    color: #2196F3;
}



@media (min-width: 768px) {
    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav ul li{
        flex: 1 1 100%;
    }

    .hamburger {
        display: none; /* Hide hamburger */
    }

    .nav-menu {
        position: static;
        flex-direction: row;
        justify-content: flex-end;
        background: none;
        height: auto;
        width: auto;
        padding: 0;
        gap: 1rem;
    }

    .close-nav{
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;

    }

    main h1 {
        grid-column:  1 / 3;
        /* text-align: center;  */
    }

    .card-items {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: start;
        direction: rtl;
        padding: 0.5rem;
        gap: 0.5rem;
    }
    .card-items-opposite {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: start;
        direction: ltr;
        padding: 0.5rem;
        gap: 0.5rem;
    }
    .card img {
        width: 100%;
        grid-column: 1 / 2;
        align-self: start;
        display: block;
    }

    .card p {
        grid-column: 2 / 3; 
        text-align: justify; 
    }
    
    
}